* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

main {
  background-color: #fff;
  padding: 1rem;
  flex: 2;
}

aside {
  background-color: #ddd;
  padding: 1rem;
  flex: 1; 
}


@media (min-width: 481px) {
  .main-content {
    flex-direction: row; /
  }
}